
.field{
    background: #fff;
    padding: 0 0 25px 0;
    border: 1px solid #000;
    border-radius: 0.9rem;

    filter: opacity(1);
    animation: Fade 1s 1;

    max-height: 40rem;
    overflow: scroll;
}
.container{
    overflow-x: hidden;
}
input{
    border: 0px solid #000 !important;
}
@keyframes Fade {
    0%{
        filter: opacity(0);
    }
    100%{
        filter: opacity(1);
    }
}
.title{
    min-height: 5rem;background-color: var(--bs-card-cap-bg);
    font-size: 2.8rem;
    color: #000;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;
    border-radius:  0.9rem 0.9rem 0 0;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.alignTextCenter{
    display:flex; 
    justify-content: center;
    align-items: center; 
    font-weight: 500;
}
.inputHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 18px;
    min-height: 2.5rem;
    border: 1px solid #ccc;
    margin: 15px 25px;
}
.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;

    min-height: 2.5rem;
    margin: 15px 25px;

    width: 250px; 
    font-size: 28px; 
    border: 2px solid #000;
    color: #000;
    background: white;
}
.form-control{
    border: 1px solid #000;
    box-shadow:0px 0px 0px 0px #fff;
}
.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    width: 100%;
    padding: 0.75rem 4.5rem 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: #f7f7f9;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 1.5rem center;
    background-size: 16px 12px;
    border: 0 solid var(--bs-border-color);
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


  .form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }
  .form-switch .form-check-input:checked {
    background-position: right center;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
  .form-check-input:checked {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
  }
  .form-check-input {
    --bs-form-check-bg: #f7f7f9;
    width: 1em;
    height: 1em;
     margin-top: 0.25em;
    padding: 0;
    vertical-align: top;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
  }